<section class="bg-white dark:bg-gray-900">
    <div class="user-detail max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
        <div class="add-button-section max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
            <h3 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Here are the most active Users</h3>
            <!-- <button class="text-white bg-purple-600 flex flex-end rounded-lg p-8">Add New User</button> -->
            <button pButton type="button" label="Add New User" icon="pi pi-plus" class="flex justify-end m-5 text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-red-900" (click)="router.navigate(['user/add-new'])"></button>
        </div>
        
        <div class="justify-center items-center space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
            <!-- Pricing Card -->
            <div *ngFor="let user of users" class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <h3 class="mb-4 text-2xl font-semibold">{{user.firstName}} {{user.lastName}}</h3>
                <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">{{user.skill ? user.skill : 'Dedicated and hard-working professional user.'}}</p>
                <div class="flex items-baseline justify-center my-8">
                    <span class="mr-2 text-4xl font-extrabold">{{user.job}}</span>
                    <span class="text-gray-500 dark:text-gray-400" dark:text-gray-400></span>
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <i class="pi pi-user"></i>
                        <span>{{user.userName}}</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <i class="pi pi-at"></i>
                        <span>{{user.email}}</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <i class="pi pi-briefcase"></i>
                        <span>{{user.company}}</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <i class="pi pi-phone"></i>
                        <span>{{user.contact}}</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>{{user.address}}</span>
                    </li>
                </ul>
                <div class="flex justify-end p-5 action-button-section">
                    <button pButton type="button" label=" Edit " icon="pi pi-pencil" class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-red-900" (click)="router.navigate(['user/edit',user.id])"></button>
                    <button pButton type="button" label="Delete" (click)="confirm(user.id)" icon="pi pi-trash" class="p-5 text-white bg-red hover:bg-bg-red focus:ring-4 focus:ring-bg-red font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-bg-red "></button>
                </div>
            </div>    
        </div>

    </div>
</section>
<p-confirmDialog header="Confirm delete" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    Content
</p-confirmDialog>